@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin:0%;
    padding: 0%;
    font-family: "Roboto","Noto", sans-serif;
    box-sizing: border-box;
}

.MainBar{

    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.HamburgerMenu{
    padding-left: 20px;
}

.HamburgerMenuOutwear{
    display: none;
}
.HamburgerMenu2{
    display: none;
}

.ShopCenter{
    padding-top: 5px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.ShoppingCart{
    
    padding-right: 20px;
}

.MainPagelist{
    display: none;
}

.ProductPageAddToCart{
    display: none;
}
.image{
    width: 100%;
    height: 240px;
    object-fit: cover;  
    object-position: center;
}

.container{
    text-align: center;
    padding-bottom: 40px;
}

h2{
    font-weight: 500;
    font-size: 20px;
    margin: 24px 0px;
    padding-bottom: 15px;
  
}

.ShopNow{
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid black;
    padding: 10px 40px;   
}

.RContainer{
    display: flex;
}

.Row{
    padding: 8px 32px;  
}

.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MadeBy{
    text-decoration: none;
    color: gray;
    text-align: center;
    font-size: small;
    padding-bottom: 10px;
}

.demo-only{
    width: 120px;
    border: 2px solid rgb(28, 21, 21);
    text-align: center;
    font-size: 13px;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
    background-color: rgb(37, 34, 34);
    padding: 8px 15px;


} 

.LadiesOutwearPageImageDiv{
    height: 320px;
    width: 100%;
    display: none;
}
.LadiesOutwearPageImage{
    object-fit: cover;
}

.page-name{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 14px;
}
.page-items{
    text-align: center;
    font-size: 12px;
    color: gray;
}

.product-image{
    width: 80%;
}

.contents{
    margin-top: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-block{
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0%;
}

.PImageContainer{
    width: 100%;
    max-width: 100%;
    /* height: 100vh; */
    
}

.PImage{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.PImageMainContainer{
    display: flex;
    flex-direction: column;
}
.product-name{
    font-size: 13px;
    font-weight: 600;
    padding: 0% 10%;
    margin-bottom: 0%;
    color: black;
    line-height: 120%;
}
.product-price{
    font-size: 13px;
    padding: 2% 0%;
    color: gray;
}

.last-demo{
    padding-top: 4%;
}

.MainContainer{
    margin: 0%;
    padding: 0% 8%;
    display: flex;
    flex-direction: column;
}
.ProductCart{
    padding-right: 0%;
}
.BackButton{
    padding-left: 0%;
}

.PImage{
    padding: 3% 2%;
}

.PName{
    margin-bottom: 2%;
}

.PPrice{
    font-size: 14px;
    color: gray;
    padding-bottom: 9%;
}


.PSelector, .PQuantitySelector{
    border: none;
    width: 78%;
    background-color: white;
    padding: 5% 0%;
    font-size: 15px;
    font-weight: 200;

}
.PSize{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PSelectorName, .PQuantity{
    color: gray;
    font-size: 13px;
}

.PSelection{
    margin-bottom: 15px;
}
.PDetails{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.PDetailsContent{
    color: gray;
    font-size: 13px;
    line-height: 130%;
    text-align: justify;
    margin: 0%;
}
.PFeature{
    font-size: 13px;
    color: gray;
}
.PlistContents{
    list-style:disc;
    color: gray;
    font-size: 13px;
    margin-left: 15%;
    line-height: 130%;
    text-align: justify;
    margin-bottom: 75px ;
    padding-bottom: 2%;
}
.AddToCart{
    text-align: center;
    text-decoration: none;
  
    
}
.AddToCartDiv{
    height: 50px;
    border: 2px solid rgb(17, 17, 88);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(17, 17, 88);
    position: fixed;
    bottom: 0;  
}

.CCheckout{
    text-align: center;
    text-decoration: none;
}
.CCheckoutDiv{
    width: 100%;
    height: 65px;
    border: 2px solid #172C50;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #172C50;
    position: fixed;
    bottom: 0; 
}

.CartItems{
    display: flex;
    flex-direction: column;
    padding: 0% 5%;
    margin-top: 40px;
}

.CartItem1{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;

}

.CartItemImage{
    height: 75px;
    object-fit: cover;
    margin-left: 0;
    padding-left: 0%;
}

.DetailsOfCart{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.NameOnCheckOut{
    text-decoration: none;
    color: #202020;
    font-size: 13px;

}

.Div1{
    height: 30px;
    width: 65vw;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.details-qty{
    display: flex;
    align-items: end;
    width: 20%;
    size: 100px;
    border: none;
}
.latestQTY{
    font-size: 13px;
    align-self: end;
    color: gray;
    
}
.Size{
    font-size: 13px;
    color: gray;
}

.Div2{
    height: 37px;
    width: 65vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}


.Div2A{
    display: flex;
    justify-content: space-evenly;
}
.Empty{
    width: 5vw;
}

.PQtySelector{
    background-color: white;
    border: none;
    align-self: center;
    width: 25vw; 
    text-align: center;
}
.CHLast{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0% 10%;

}
.Constant{
    width: 75px ;
}
.Total{
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 13px;
}
.Constant2{
    width: 65vw;
}

.LastContentOfProductPage{
    display: none;
}

.CartForLaptop{
    display: none;
}


.main-container{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    
}

.left-container, .right-container{
    gap: 20px;
    margin-bottom: 20px;
}

.PersonDetailsHeading{
    font-size: 13px;
    font-weight: bold;
    padding: 0px 0px;
    margin-bottom: 3vh;

}

.InputData{
    width: 100% ;
    border-bottom: 1px solid lightgray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
    padding-top: 20px;
    padding-bottom: 5px;
}

.StateZip{
    display: flex;
    flex-direction: row;
    gap:20px
}

.LableCountry{
    display: flex;
    flex-direction: column;
    gap:10px;
}

#hide{
    display:none
}

#hide-bill:checked  ~ #hide{
    display: block;
}

.hidden-address{
    margin-top: 10px;
}

.LabelName{
    font-size: 13px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
}

.BillingAddress{
    margin-top: 40px;
    margin-bottom: 30px;
}
.CountrySelector{
    border: 0px solid;

    border-bottom: 1px solid lightgray;
    background-color: white;
    font-size: 16px;
    outline: none;
}

.label-hide-address{
    font-size: 13px;
    margin-left: 15px;

}

.MonthYearCvv{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.MonthSelector{
    border: 0px solid;
    border-bottom: 1px solid lightgray;
    background-color: white;
    width: 100;
    font-size: 13px;
    padding: 5px;
}

.OrderSummary{
    font-size: 13px;
    padding-top: 15px;
    font-weight: bold;

}

.CheckoutTotalPrice{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 10px 0px;
    font-size: 13px;
    font-weight: 100;
}


.last2{
    margin-top: 35px;
    margin-bottom: 60px;
}

.CheckoutButtonDiv{
    margin-top: 255px;
    background-color: #172C50;
    border: none;
}

.TotalPriceLast{
    font-size: 13px;
    font-weight: lighter;
}

.PlaceOrderLastDiv{
    display: none;
}


@media screen and (min-width: 768px){

    .HamburgerMenu{
        display: none; 
    }

    .HamburgerMenu2{
        padding-left: 20px;
        display: contents;
    }

    .PImageMainContainer{
        flex-direction: row;
        
    }

    .MainPagelist{
        display: contents;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .heading1{
        text-decoration: none;
        color: #202020;
        font-weight: 500;
        font-size: 13px;
        padding: 4vh 1.5vw;

    }

    .ShopCenter{
        padding-top: 1%;
    }
    .ShoppingCart{
    
        padding-top: 1%;
    }

    .image{
        height: 320px;
    }

    .LadiesOutwearPageImageDiv{
        display: contents;
     
        
    }
    .LadiesOutwearPageImage{
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 30px;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .last-demo{
        padding-top:2%;
    }

    .CheckContainer{
        display: flex;
        
    }

    .AddToCart{
        display: none;
    }

    .ProductPageAddToCart{
        display: block;
        border: 2px solid black;
        font-size: 14px;
        padding: 8px 44px;
        background-color: white;
        margin-bottom: 20px;
    }

    .PImageContainer{
        max-width: 50%;
    }

    .PlistContents{
        margin-bottom: 5%;
        padding-bottom: 0% ;
    }

    .LastContentOfProductPage{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .LastContentOfProductPageDemoOnly{
        border: 2px solid black;
        background-color: black;
        color: white;
        padding: 8px 20px; 
        margin-top: 5px;
        width: 160px;
        margin-top: 10px;
        font-size: 13px;

    }

    .LastContentOfProductPageMadeBy{
        text-decoration: none;
        color: gray;
        font-size: 13px;
    }

    .CartForMobile{
        display: none;
    }

    .CartForLaptop{
        display: block;
    }

    .CartDetails{
        text-align: center;
        padding-right: 25px;
        padding-top: 25px;
    }

    .CartProduct1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;

    }

    .CartProductDetails{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .ProductNameInCartLink{
        text-decoration: none;
        color: #202020;
        padding-left: 15px;
        padding-right: 45x;
        font-size: 13px;
    }

    .CartItemsLaptop{
        width: 100%;
        margin-top: 55px;
        
    }

    .details-qty-laptop{
        padding-right: 50px;
        padding-left: 50px;
    }

    .SizeLaptop{

        margin-left: 10px;
        
    }
    .LastInnerContainer{
        width: 100vw;
    }

    .PQtySelectorLaptop{
        width: 35vw;
    }


    .CartTotalLaptop{
        display: flex;
        flex-direction: row;
        justify-content:end;
        align-items: center;
        margin-right: 10%;
     
    }

    .CartTotalLaptop1{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 12vw;
        padding-right: 5%;
        

    }

    .CheckOutLaptopClick1{
        text-decoration: none;
        color:black;
        border: 2px solid black;
        padding: 8px 35px;
        font-size: 13px;

    }

    
    .subtotal{
        font-size: 13px;
        font-weight: bold;
        padding-right: 50px;
    }

    .TotalLaptop{
        font-size: 13px;
        font-weight: bold;  
        padding-right: 50px;
    }
     .line3{
        display: flex;
        justify-content: end;
      padding-left: 5%;
        
    } 

    .CheckoutButton{
        display: none;
    }

    .main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        max-width: 80vw;
        margin: 0 auto;
    }

    .left-container{
        margin-left: 50px;
        width: 40%;
        
    
    }
    .right-container{
        margin-right: 50px;
        width: 40%;
        padding-left: 2rem 0;
    }

    .DetailsCheckout{
        margin-bottom: 2rem;
        padding-right: 2%;
    }

    .demoonlylast{
        margin-top: 50px;
    }

    .PlaceOrderLastDiv{
        display: block;
    }

    .PlaceOrderLast{
        text-decoration: none;
        color: #202020;
        font-size: 14px;
        font-weight: 500;
        border: 2px solid black;
        padding: 8px 44px; 
        background-color: white;
    }
  
    .AddToCartLink{
        text-decoration: none;
        color: black;
    }

} 